* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #f1efea;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

/* HEADER */
header {
  background-color: darkslategray;
}

header img {
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 5px;
}

header nav {
  float: right;
}

header nav ul {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 5px;
}

header nav ul li {
  list-style-type: none;
  padding: 0px 10px;
  font-size: 2.2em;
  font-weight: bold;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li a:visited {
  text-decoration: none;
  color: black;
}
/* FIN HEADER*/

section {
  box-sizing: content-box;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
}

#titulo {
  display: inline-block;
  background-image: url(image/room.jpg);
  background-size: cover;
  height: 50vh;
}

#cartel {
  display: block;
  background-color: #7097bf;
  border: 5px solid #d1eea6;
  border-radius: 10px;
  margin: 50px 25%;
  text-align: center;
}

#cartel p {
  font-size: 36px;
  padding: 40px 0;
  font-weight: bold;
}
/*Seccion Acerca de mi*/

#Acerca {
  background-image: url(image/fondon.jpg);
  height: 65vh;
}
section h3 {
  color: white;
  width: 50%;
  padding: 25px;
  text-align: center;
  font-size: 1.5em;
}
article.textoAcerca {
  color: #f8eed7;
  width: 50%;
  padding: 10px 20px;
}
#teclado {
  width: 51%;
  margin: -250px 1%;
  float: right;
  height: 87%;
}
/*fin seccion Acerca de mi*/

/*redes*/

#redes {
  background-image: url(image/fondored.jpg);
  background-size: cover;
}

#redes article {
  text-align: center;
  color: #f1efea;
  text-shadow: 8px 5px 5px black;
  display: block;
  font-size: 1.5em;
  width: 50%;
  margin: auto;
}
#redes div {
}
#redes a img {
  width: 22%;
  padding: 0 3%;
  padding-left: 10%;
}

/*fin redes*/
