* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #eefbcc;
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER */

.contenedor {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  box-shadow: 8px 1px 5px #9b9b9b;
}

header {
  display: flex;
  background-color: darkslategray;
}

header img {
  width: 50px;
  height: 50px;
  margin: 5px 5px 5px 5px;
}

header nav ul {
  display: flex;
  margin: 5px 5px 5px 5px;
}

header nav ul li {
  list-style-type: none;
  padding: 0px 10px;
  font-size: 2.2em;
  font-weight: bold;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li a:visited {
  text-decoration: none;
  color: black;
}

/* FIN HEADER*/

section {
  box-sizing: content-box;
  height: 75vh;
}

.titulo {
  display: flex;
  background-image: url(image/room.jpg);
  background-size: cover;
  height: 30vh;
}

.cartel {
  display: flex;
  background-color: #f9ede3;
  border: 5px solid #d1eea6;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
  text-align: center;
  box-shadow: 8px 5px 10px;
}

.cartel p {
  font-size: 3vw;
  font-weight: bold;
}
/*Seccion Acerca de mi*/

.Acerca {
  display: flex;
  background-image: url(image/fondon.jpg);
  height: 65vh;
}

.texto {
  height: 600px;
}
.texto h3 {
  color: white;
  padding: 25px;
  text-align: center;
  font-size: 1.5em;
}

.textoAcerca {
  width: 100%;
  color: #f8eed7;
  padding: 10px 20px;
  height: 200px;
  font-size: 2vw;
}
.teclado {
  max-width: 400px;
  margin: 100px 10px;
}
/*fin seccion Acerca de mi*/

/*redes*/

.redes {
  background-image: url(image/fondored.jpg);
  background-size: cover;
}

.redes article {
  text-align: center;
  color: #f1efea;
  text-shadow: 8px 5px 5px black;
  display: block;
  font-size: 3vw;
  width: 50%;
  margin: auto;
}
.redes div {
  width: 100%;
}
.redes a img {
  width: 23%;
  padding: 0 3%;
  padding-left: 10%;
}

/*fin redes*/
